.mainLayoutMainContent{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.mainLeft{
    flex:1;
    background-color: #e0ede0;
    /* height: 80vh */
}
.mainRight{
   flex:3;
}