
.salesOrdersMain div{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}
.salesOrdersMain a{
    padding: 10px 15px;
    color: white;
    background-color: green;
    border-radius: 10px;
    position: relative;
    top: 15px;
}
.salesOrdersMain div{
    margin-top: 20px;
}